.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color:#5878ca;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(250, 249, 250);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.calculadora{
  display:block;
  margin:0 auto;
  padding:20px;
  background-color:#2980b9;
  width:300px;
  height:500px;
  border-radius: 25px;
}
.calculadora td button{
  display:block;
  width:70px;
  height: 70px;
  font-size: 25px;
}
#creditos{
  display:block;
  padding-top:20px;
  color:#fff;
  text-align: center;
  width:300px;
}
#resultado{
  display:block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  width:300px;
  height: 100px;
  line-height: 100px;
  background-color:rgb(75, 72, 72);
  border-radius: 25px;
  overflow-y: scroll;
}

/*----------- CAJA ----------- */
.caja { 
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #ffffff; 
  font-size: 25px; 
  font-weight: 400; 
  text-align: center; 
  background: #889ccf; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 5px; 
  border-radius: 35px 0px 35px 0px; 
  -moz-border-radius: 35px 0px 35px 0px; 
  -webkit-border-radius: 35px 0px 35px 0px; 
  border: 2px solid #5878ca;}


.cajita { 
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #ffffff; 
  font-size: 25px; 
  font-weight: 400; 
  text-align: center; 
  background: #889ccf; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 5px; 
  border: 2px solid #5878ca;}

.cajaletras {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-seriff;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  background: #5878ca;
  }


